<div>
  <div>
    <form [formGroup]="loginForm" (ngSubmit)="loginHandler()" class="form-login">
      <div formGroupName="userData">
        <mat-form-field>
          <input matInput placeholder="Користувач" text="text"  name="user" formControlName="user">
          <mat-error *ngIf="loginForm.controls.userData.controls.user.invalid && loginForm.controls.userData.controls.user.touched">
            <mat-error *ngIf="loginForm.controls.userData.get('user').errors?.required">
              Поле обов'язкове.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.userData.get('user').errors?.minlength">
              Ім'я має містити принаймні 2 символи.
            </mat-error>
            <mat-error *ngIf="signinForm.controls.userData.get('user').errors?.maxlength">
              Ім'я не повинно перевищувати 255 символи.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Пароль" type="password" name="password" formControlName="password" [type]="hide ? 'password' : 'text'">
          <mat-error *ngIf="loginForm.controls.userData.controls.password.invalid && loginForm.controls.userData.controls.password.touched">
            <mat-error *ngIf="loginForm.controls.userData.get('password').errors?.required">
              Поле обов'язкове.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.userData.get('password').errors?.minlength">
              Пароль має містити принаймні 2 символи.
            </mat-error>
            <mat-error *ngIf="loginForm.controls.userData.get('password').errors?.maxlength">
              Пароль не повинен перевищувати 255 символи.
            </mat-error>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit"  class="login-button" [disabled]="!loginForm.valid">
          Вхід
        </button>
      </div>
    </form>
  </div>
  <div>
    <span i18n *ngIf="errorMessage">Неправильно вказано логін чи пароль.<br>Спробуйте знову.</span>
  </div>
</div>

