<agm-map

        [latitude]="50"
        [longitude]="30"
        [zoom]="10"
        [disableDefaultUI]="false"
        [zoomControl]="false"
        (mapReady)="onMapReady($event)"
        (centerChange)="onMapCenterChange($event)">

    <agm-marker-cluster imagePath="https://raw.githubusercontent.com/googlemaps/v3-utility-library/master/markerclustererplus/images/m">
        <agm-overlay
                *ngFor="let item of markers | filter: 'username': searchText"
                [latitude]="item.lat"
                [longitude]="item.lon"
                (markerClick)="clickedUserMarker(item.id)">
            <div class="marker-body">
                <div class="marker-body-img">
                    <img style="width: 100%" *ngIf="!item.image" src="./assets/img/no.png">
                    <img style="width: 100%" *ngIf="item.image" [src]="item.image" alt="img">
                </div>
                <div class="marker-body-info">
                    <div>
                        <span>{{item.first_name}}</span>
                        <span>{{item.last_name}}</span>
                    </div>
                    <div>
                        <span>{{item.country}}</span>
                        <span>{{item.city}}</span>
                    </div>
                </div>
            </div>
        </agm-overlay>

        <agm-marker
                [latitude]="userLocation.lat"
                [longitude]="userLocation.lon">
            <agm-info-window>
                <strong>Me</strong>
            </agm-info-window>
        </agm-marker>
    </agm-marker-cluster>

</agm-map>
