<div>
  <div class="profile__img">
    <div class="img">
      <img [src]="image ? image : './assets/img/no.png'" alt="image">
    </div>
    <button mat-button type="button">
      <label for="files">
        <span class="btn-edit">Edit profile image</span>
      </label>
    </button>
    <div>
      <input id="files" type="file" accept="image/*" (change)="changeListener($event)" style="visibility:hidden;">
    </div>
  </div>
  <div class="profile__info">
    <form [formGroup]="profileForm" (ngSubmit)="editProfileHandler()">
      <mat-form-field>
        <input matInput type="text" placeholder="First name" formControlName="first_name">
      </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Last name" formControlName="last_name">
      </mat-form-field>
      <mat-radio-group formControlName="gender">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <button mat-raised-button color="primary" type="submit" [disabled]="!isValidForm">
        Edit profile
      </button>
    </form>
  </div>
  <div profile__navigate>
    <button mat-button>Go to the Map</button>
  </div>
</div>
