@import '~src/sass/variables';

.img {
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $img-background-color;
}
.img img{
  width: 100%;
}
.input-field{
  padding: 5px;
}
.btn{
  margin-top: 15px;
}
.btn-edit{
  vertical-align: middle;
  cursor: pointer;
  color: grey;
  height: 100%;
  display: inline-block;
}
.img-description{
  color: grey;
}

