<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button class="header-item" mat-button routerLinkActive="mat-accent" routerLink="/user/map">Map</button>
        <button class="header-item" mat-button routerLinkActive="mat-accent" routerLink="/user/list">List</button>
        <app-filter></app-filter>
        <button class="header-item" mat-button routerLinkActive="mat-accent" routerLink="/user/my-profile">Profile</button>
        <button class="header-item" mat-button routerLinkActive="mat-accent" (click)="logOutHandler()">Log out</button>
    </mat-toolbar-row>
</mat-toolbar>

