/** filter **/
.filter{
  min-width: 150px;
  position: relative;
}
.filter input{
  color: #333333;
  background-color: #fafafa;
  margin-left: 8px;
  width: 126px;
  max-width: 240px;
  -webkit-appearance: none;
  border-width: 1px;
  border-style: solid;
  border-color: #545454;
  -o-border-image: initial;
  border-image: initial;
  border-radius: 100px;
  padding: 5px 28px;
  background: #fff;
  font-size: 13px;
}
.filter input:focus{
  outline: none;
}
.icon-search{
  position: absolute;
  left: 17px;
  top: 0;
  bottom: 0;
  width: 19px;
  height: 19px;
  color: #545454;
}
input{
  vertical-align: middle;
}