<div fxLayoutAlign="center" class="container">
  <div fxLayout="column" fxFlex="80%" fxLayoutAlign="center">
    <mat-list>
      <h3 mat-subheader>User list</h3>
      <mat-list-item *ngFor="let user of userList | filter: 'username': searchText">
        <img mat-list-icon *ngIf="!user.image" src="./assets/img/no.png">
        <img mat-list-icon *ngIf="user.image" [src]="user.image" alt="img">
        <h3 class="name" mat-line>{{user.username}}</h3>
        <p mat-line> {{user.country}} <span>{{user.city}}</span></p>
      </mat-list-item>
    </mat-list>
  </div>
</div>
